HELP.md
*.log
.gradle
**/build/classes
**/build/kotlin
**/build/jacoco
**/build/tmp
**/build/libs
**/build/resources
app-account-service/build/reports/tests
app-account-service/build/reports/jacoco
app-account-service/build/test-results
app-transaction-service/build/reports/tests
app-transaction-service/build/reports/jacoco
app-transaction-service/build/test-results
tmp/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
